<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPreguntaAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPreguntaAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaPreguntasAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPreguntaAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPreguntaAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivoAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaExamenesAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarExamenAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarExamenAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluarPreguntaAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluarExamenAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscribirExamenAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscribirExamenAuxAction</servlet-name>
        <servlet-class>Actions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPreguntaAction</servlet-name>
        <url-pattern>/CrearPreguntaAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPreguntaAction</servlet-name>
        <url-pattern>/VerPreguntaAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaPreguntasAction</servlet-name>
        <url-pattern>/TablaPreguntasAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPreguntaAction</servlet-name>
        <url-pattern>/EditarPreguntaAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPreguntaAction</servlet-name>
        <url-pattern>/BorrarPreguntaAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivoAction</servlet-name>
        <url-pattern>/SubirArchivoAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaExamenesAction</servlet-name>
        <url-pattern>/TablaExamenesAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarExamenAction</servlet-name>
        <url-pattern>/EditarExamenAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarExamenAction</servlet-name>
        <url-pattern>/BorrarExamenAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluarPreguntaAction</servlet-name>
        <url-pattern>/EvaluarPreguntaAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluarExamenAction</servlet-name>
        <url-pattern>/EvaluarExamenAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscribirExamenAction</servlet-name>
        <url-pattern>/EscribirExamenAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscribirExamenAuxAction</servlet-name>
        <url-pattern>/EscribirExamenAuxAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
